<!DOCTYPE html>
<html>
  <head>
    <title>BarFindr</title>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyC5r38AOthMf8pIVz7qtXL3JnkMVWLmIRk" %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
